::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar {
  height: 0;
}

.dragscroll {
  overflow-x: scroll;
}
.div-card-list-info {
  overflow: hidden;
}

.card-list-info {
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.104166667in;
  padding-bottom: 0.104166667in;
  padding-right: 0.104166667in;
  padding-top: 0.104166667in;
  gap: 10px;
  flex-wrap: nowrap;
}

.card-info,
.card-list-info {
  display: flex;
  align-items: center;
}

.card-info {
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 37px;
  justify-content: center;
  gap: 6pt;
  padding-top: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}


.card-info img {
  width: 21pt;
  margin-top: -4px;
}

.card-info span {
  text-align: center;
  line-height: normal;
}

* {
  margin: 0;
}

@media (max-width: 769px) {
  .card-info {
    height: 60px;
    flex-direction: column;
    gap: 10px;
  }
  
  .card-info img {
    width: 25px;
    height: 0.260416667in;
  }
}
@media (max-width: 426px) {
  .card-info {
    min-width: 30.2vw;
  }
}

@media (max-width: 321px) {
  .card-info {
    min-width: 29.5vw;
  }
}
