.blog-placeholder {
  margin: 0 1.5rem;
  background: rgb(var(--color-background));
}

@media screen and (min-width: 750px) {
  .blog-placeholder {
    text-align: center;
    width: 50%;
    margin: 0;
  }
}

.blog-placeholder__content {
  padding: 3rem;
  background: rgba(var(--color-foreground), 0.04);
}

.blog-placeholder .placeholder {
  position: relative;
}

.blog-placeholder h2 {
  margin: 0;
}

.blog-placeholder .rte-width {
  margin-top: 1.2rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
  color: rgb(var(--color-foreground));
}
.color-transparent .blog__title {
    color: #000;
}
.blog .card__heading{
  color: rgb(var(--color-foreground));
}
.blog.color-transparent .card__heading{
  color: #000;
}
.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}
.blog__posts .article-card .card__information .read-more{
  color: rgb(var(--color-foreground));
}
.color-transparent .blog__posts .article-card .card__information .read-more{
  color: var(--gradient-base-accent-1);
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 4rem);
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
  border-radius: var(--media-radius);
  padding: 10px 10px 0;
}
.blog__posts .card-wrapper .card .media {
    border-radius: var(--media-radius);
}
.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

@media screen and (max-width: 989px) {
  .blog slider-component .slider.slider--tablet {
      padding-bottom: 20px;
      padding-top: 10px;
  }

  .blog .slider-buttons { display: none;}
  .blog .slider--tablet.grid--peek .grid__item:first-of-type { margin-left: 0;}
  .blog .slider--tablet.grid--peek .grid__item:last-of-type { margin-right: 1rem;}
}

.blog .article-card__excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}